.Website{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    align-items: center;
}

.Website .mo{
    width: 30rem;
    margin: auto;

  margin: 10px 0px;
}